.wrapper {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 84px;

    padding: 9px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;

}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.image + .title,
.title + .image {
    margin-left: 8px;
}

.primary {
    background-color: #e71a0f;;
    color: white;
    font-weight: 600;
    font-size: .9em;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: -0.028px;
    min-width: 1px;
    justify-content: center;
    padding: 8px;
    
}



.primary:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#ce1910;
}


.text {
    border-radius: 0;
    font-weight: 600;
    font-size: .9em;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: -0.028px;
    min-width: 1px;
    justify-content: flex-start;
    padding: 8px;
    margin: 0 10px;
    
}

.primary:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#ce1910;
}


.text:hover {
    animation: sparkleAnimation 1s infinite;
}


.text-white:focus {
    color: red;
}

@keyframes sparkleAnimation {
    0% { color: #ef1c11; }
    50% { color: #ce1910; }
    100% { color: #e71a0f; }
}
